// Define variables for your color scheme

// For example:
$bleu-canard: #57B896;
$bleu-fonce: #1C658C;
$bleu-clair: #398AB9;
$gris-clair: #D8D2CB;
$blanc-casse: #F3F4EF;
$gray: #0E0000;
$light-gray: #F4F4F4;
