<div class="main">
<h1 class="top-hamburger"> Top
</h1>
<h1 class="mid-hamburger-tomato"></h1>
<h1 class="mid-hamburger-cheddar"></h1>
<h1 class="mid-hamburger-steak"> Restaurants </h1>
<h1 class="mid-hamburger-lettuce"></h1>
<h1 class="bot-hamburger"> List </h1>

  <div class="list-container">
    <% @restaurants.each do |restaurant| %>
    <div class="top-restaurant">
      <p><%= restaurant.name %> (<%= restaurant.category%>)</p>
      <p><%= restaurant.address  %></p>
      <a href="<% restaurants_path(restaurant) %>" class="button"> See more </a>
    </div>
    <% end %>
  </div>
</div>
